.list td {
    padding: 0px;
}
.lt-body tr {
    line-height: 1px;
}
.fresh-table .list tbody td:first-child {
    top: -7px;
    position: relative;
    padding: 15px;
}
.lt-body a {
    line-height: 18px;
}
.reply-alert::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    padding: 5px 5px;
    border-radius: 50px;
    background: red;
    transform: translateY(-50%); 
}
.__module-tickets__tickets-list__tickets-table .status-tag-wrap .tag {
    padding: 10px;   
}
