.section {
    position: relative;
    padding: 1rem;
    background: #eee;
    border-radius: 0.5rem;
    margin-top: 3rem;
    height: fit-content;
}
.actions {
    display: flex;
    gap: 0.5rem;
    margin-top: -0.5rem;
}
.sectionAction .btn {
    font-size: 0.75rem;
}
.sectionHead {
    position: absolute;
    margin-top: -2.75rem;
    margin-left: -0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sectionTitle {
    font-weight: bold;
    font-size: 1rem;
}
.infoCards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.infoCards > span {
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #eee;
    background: white;            
}
