body {
    background-color: white;
}

.card-header {
    display: none;
}

.card {
    box-shadow: none;
}

.card-body {
    background-color: white;
}

.nav li a {
    font-weight: bold;
    font-size: 16px;
}

.nav.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    position: sticky;
    top: 20px;
}

.nav.list-group-flush > .list-group-item {
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

ul:not(.nav):not(.navbar-nav) {
    list-style: none;
    padding: 0;
}

.col-sm-9 p:nth-of-type(5) {
    margin-top: 20px;
    font-size: 18px;
}

:not(div[id^="accordion"]) ul:not(.nav):not(.navbar-nav):not(ul ul):not(.pagination) {
    display: grid;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    background: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

ul:not(.nav):not(.navbar-nav) li span {
    display: block;
}

.collapse-toggle {
    margin-top: 10px;
}

div[id^="accordion"] {
    padding:10px;
    background: #f9f9f9;
    border-radius:10px;
    margin-top:10px;
}

.fa.fa-chevron-down {
    padding: 10px;
    border-radius: 50px;
    background: #f9f9f9;
}

tr {
  display: grid;
  padding: 5px;
  background: #f2f2f2;
  margin-bottom: 15px;
  border-radius: 10px;
  grid-template-columns: auto auto auto auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

th, td:first-of-type {
  grid-column: 1 / 7;
  font-size: 20px;
  padding-bottom: 0px;
}

thead {
    display: none;
}

.table td, .table th {
    border: none;
}

td:last-of-type {
    font-size: 25px;
    justify-self: end;
    grid-column: -1;
}

.btn {
    margin-bottom: 10px;
}
